main
{
    min-height:calc(100vh - 140px - 50px);
}

nav
{
    background-color:#2e2c3b;
    color:#ffffff;
}

.nav-link
{
    color:#8c52ff;
}

.nav-link:hover
{
    color:#ffffff;
}

.btn-customcolor
{
    background-color:#8c52ff;color:#ffffff;
}

#results
{
    margin-top:50px;
}

.datesmall
{
    font-size:0.8em
}

.navbar-toggler-icon
{
    background-image:url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus
{
    box-shadow:none !important;
}

footer
{
    background-color:#2e2c3b;height: 50px;width:100%;color:#ffffff;padding-top:10px;
}

th
{
    background-color:#2e2c3b;color:#ffffff;
}

a{
    color:#8c52ff;
}

a:hover
{
    color:#8c52cc;
}